body{
 
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  
}
.header{
  width: 100%;
  display: flex;
  background-color: greenyellow;
}
.logo{
  width:15%;
}
.heading-links{
  width: 100%;
}
.heading-links ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    margin: 60px auto; 
}
.heading-links li{
  font-weight: bold;
}
.txt{
  text-align: center;
  padding: 10px;
  margin: 10px;
  color:brown;
}
.product-list li{
 
  border: 1px solid yellowgreen;
  list-style: none;
  border-radius: 6px;
  padding:10px;
  margin: 10px;
 
 
}
.card{
  border: none;
}
.product-list li h2{
  color: rebeccapurple;
  margin: 10px;
}
.product-list ul{
  display: flex;
  flex-wrap: wrap;
}
.product-list img{
  width: 50%;
  height: 30%;
 margin: 0 20%;
}
.abount-container{
  padding:50px;
  margin: 50px;
  text-align: center;
  background-color: aquamarine;
}
.contact-container{
  text-align: center;
  margin: 50px auto;
}
.Footer-content{
 background-color: rgba(0, 0, 0, 0.066);
 margin: 0;
 padding: 0;
 text-align: center;
}
footer{
        max-width: 1255px;
        margin: 0 auto;
        padding: 60px 20px 25px 20px;
}
.Body-Content{
  text-align: center;
  padding:20px;
}
.login{
  text-align: center;
  padding:10px;
  margin: 20px;
}
.input-box{
  text-align: center;
  padding:10px;
  margin: 20px;
}
input{
  padding: 10px;
  margin: 20px;
}
.button-card{
  text-align: center;
  padding:20px;
  margin: 20px;
}
.container{

  padding:20px;
  margin: 0 auto;
  max-width:500px;
  height: 200px;
  border-radius: 2px;
  border: 3px solid blueviolet;
}
.Register-Page{
   text-align: center;
   padding:10px;
   margin: 10px;
}
.Register-Page h2{
  color:rgb(255, 0, 212);
}
.teble-content{
  width:100px;
  margin: 20px auto;
}




