body{
  margin: 0;
  padding:0;
  font-weight: 600;
        font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}
.header{
  width: 100%;
  display: flex;
  background-color: greenyellow;
}
.logo{
  width:15%;
}
.heading-links{
  width: 100%;
}
.heading-links ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    margin: 60px auto; 
}
.heading-links li{
  font-weight: bold;
}
.txt{
  text-align: center;
  padding: 10px;
  margin: 10px;
  color:brown;
}
.product-list li{
  width:21%;
  height: auto;
  border: 1px solid yellowgreen;
  list-style: none;
  border-radius: 6px;
  padding:10px;
  margin: 10px;
  background-color: lightgray;
 
}
.product-list li h2{
  color: rebeccapurple;
  margin: 10px;
}
.product-list ul{
  display: flex;
  flex-wrap: wrap;
}
.product-list img{
  width: 50%;
  height: 30%;
 margin: 0 20%;
}
.abount-container{
  text-align: center;
  background-color: aquamarine;
}
.contact-container{
  text-align: center;
  margin: 50px auto;
}





